<form asp-action="Index">
    <label>FullName: </label>
    <input type="text" name="fName" placeholder="Enter">
    <input type="email" name="ABC" placeholder="Enter">
    <input type="submit" value="Save"/>
</form>
<h1>@ViewBag.xcv</h1>